<div class="modal-header">
    <h3 class="modal-title">Wallet Password</h3>
</div>
<div class="modal-body" style="padding-left:30px; padding-right:30px;">
    <div ng-hide="account.brain" class="form-group" ng-class="{'has-error':privatekey.length===0 || invalidKeyOrPassword}">
        <label for="privatekey" class="control-label">Private Key for: {{account.address | fmtAddress}}</label>
        <input type="password" class="form-control" ng-model="privatekey" id="privatekey" placeholder="">
        <span ng-show="invalidKeyOrPassword" class="text-danger"><span class="glyphicon glyphicon-exclamation-sign">Key does not correspond to the account</span></span>
    </div>
    <div ng-show="account.brain" class="form-group" ng-class="{'has-error':password.length===0 || invalidKeyOrPassword}">
        <label for="password" class="control-label">Password for: {{account.address | fmtAddress}}</label>
        <input type="password" class="form-control" ng-model="password" id="password" placeholder="">
        <span ng-show="invalidKeyOrPassword" class="text-danger"><span class="glyphicon glyphicon-exclamation-sign"></span>Invalid password.</span>
    </div>

</div>
<div class="modal-footer">
    <span ng-show="invalidKeyOrPassword" class="text-danger glyphicon glyphicon-exclamation-sign"></span>
    <button class="btn btn-primary" type="button" ng-click="ok()">
        <span ng-show="generatingInProgress"><span class="glyphicon glyphicon-refresh spinning"></span></span>
        {{okButtonLabel}}</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>