<div class="container">
    <div ng-show="$storage.wallets">
        <h2>Choose wallet:</h2>
        <ul>
            <li ng-repeat="wallet in $storage.wallets"><a ng-href="/lightwallet/wallet/{{wallet.name}}">{{wallet.name}}</a>, accounts in wallet:
                <ul>
                    <li ng-repeat="address in wallet.accounts">
                        {{address}}
                    </li>
                </ul>
            </li>
        </ul>

    </div>

    <button ng-click="showAddWallet()" type="button" class="btn btn-primary">Add Wallet</button>
    <button ng-click="showAddBrainWallet()" type="button" class="btn btn-primary">Add "brain"-wallet</button>
    <button ng-click="showAddPassWallet()" type="button" class="btn btn-primary">Add "pass"-wallet</button>

    <div class="animated-layer" ng-hide="addWalletHidden">
        <form>
            <p ng-hide="$storage.wallets">Seems you don't have wallet yet, please create one.</p>
            <p>Wallet data is saved locally in your Local Storage <a href="http://www.w3schools.com/html/html5_webstorage.asp" rel="nofollow">[learn more]</a></p>
            <div class="form-group">
                <label for="walletName">Wallet name:</label>
                <input ng-model="dummy.name" class="form-control" id="walletName">
            </div>

            <div class="form-group">
                <label for="accountAddress">Account's address:</label>
                <input ng-model="dummy.accounts[0].address" class="form-control" id="accountAddress">
            </div>
            <button type="submit" class="btn btn-default" ng-click="addWallet()">Create</button>
        </form>
        <div class="clearfix"></div>
    </div>

    <div class="animated-layer" ng-hide="addBrainWalletHidden">
        <form>
            <p>Wallet data is saved locally in your Local Storage <a href="http://www.w3schools.com/html/html5_webstorage.asp" rel="nofollow">[learn more]</a></p>
            <p class="bg-danger">Keep in mind that brain wallet, besides entered password uses <strong>SALT</strong>, that is saved if <em>Local Storage</em>.
                If you clean local storage, you will loose access to your account!</p>
            <div class="form-group">
                <label for="walletName">Wallet name:</label>
                <input ng-model="dummy.name" class="form-control" id="walletName">
            </div>

            <div class="form-group">
                <label for="accountPassword">Password:</label>
                <input type="password" ng-model="dummy.accounts[0].password" class="form-control" id="accountPassword">
            </div>
            <button type="submit" class="btn btn-default" ng-click="addBrainWallet()"><span ng-show="generatingInProgress"><span class="glyphicon glyphicon-refresh spinning"></span></span> {{addBrainWalletButtonText}} </button>
        </form>
        <div class="clearfix"></div>
    </div>

    <div class="animated-layer" ng-hide="addPassWalletHidden">
        <form>
            <p>Wallet data is saved locally in your Local Storage <a href="http://www.w3schools.com/html/html5_webstorage.asp" rel="nofollow">[learn more]</a></p>
            <p class="bg-danger">Pass wallet uses ONLY password hashed multiple times, therefore it's crucial to select SAFE password. <a href="https://xkcd.com/936/" rel="nofollow">XKCD #936</a></p>
            <div class="form-group">
                <label for="walletName">Wallet name:</label>
                <input ng-model="dummy.name" class="form-control" id="walletName">
            </div>

            <div class="form-group">
                <label for="accountPassword">Password:</label>
                <input type="password" ng-model="dummy.accounts[0].password" class="form-control" id="accountPassword">
            </div>
            <button type="submit" class="btn btn-default" ng-click="addPassWallet()"><span ng-show="generatingInProgress"><span class="glyphicon glyphicon-refresh spinning"></span></span> {{addPassWalletButtonText}} </button>
        </form>
        <div class="clearfix"></div>
    </div>
</div>