<div class="modal-header">
    <h3 class="modal-title">Transfer transaction</h3>
</div>
<div class="modal-body">
    <ul class="nav nav-tabs" ng-show="walletScope.accountData.meta.cosignatoryOf.length">
        <li role="presentation" ng-class="txTransferData.isMultisig?'':'active'" ng-click="txTransferData.isMultisig=false"><a href="#">Normal</a></li>
        <li role="presentation" ng-class="txTransferData.isMultisig?'active':''"ng-click="txTransferData.isMultisig=true"><a href="#">Multisig</a></li>
    </ul>

    <form name="formtransfer">
        <div ng-show="txTransferData.isMultisig">
            <label for="multisigAccount">Multisig account</label>
            <select class="form-control"
                    ng-options="acc.address for acc in walletScope.accountData.meta.cosignatoryOf track by acc.address"
                    ng-model="txTransferData.multisigAccount"
                    id="multisigAccount">
            </select>
        </div>

        <div ng-show="common.requiresKey">
            <div ng-hide="walletScope.walletAccount.brain" class="form-group" ng-class="{'has-error':common.privatekey.length===0 || invalidKeyOrPassword}">
                <label for="privatekey"><span ng-show="txTransferData.isMultisig">Signer's</span> Private Key</label>
                <input type="password" class="form-control" ng-model="common.privatekey" id="privatekey" placeholder="">
                <span ng-show="invalidKeyOrPassword" class="text-danger"><span class="glyphicon glyphicon-exclamation-sign">Key does not correspond to the account</span></span>
            </div>
            <div ng-show="walletScope.walletAccount.brain" class="form-group" ng-class="{'has-error':common.password.length===0 || invalidKeyOrPassword}">
                <label for="password">Password</label>
                <input type="password" class="form-control" ng-model="common.password" id="password" placeholder="">
                <span ng-show="invalidKeyOrPassword" class="text-danger"><span class="glyphicon glyphicon-exclamation-sign"></span>Invalid password.</span>
            </div>
        </div>
        <div class="form-group"  ng-class="{'has-error':formtransfer.recipient.$error.addressField}">
            <label for="recipient">Recipient's address</label>
            <input type="text" class="form-control" ng-model="txTransferData.recipient" name="recipient" id="recipient" placeholder="TBLOOD-PLWOWM-Z2TARX-4RFPOS-OWLULH-XMROBN-2WXI" address-field>
            <span ng-show="formtransfer.recipient.$error.addressField">Not a valid address</span>
        </div>
        <div class="form-group">
            <label for="amount">Amount</label>
            <input type="number" class="form-control" ng-model="txTransferData.amount" id="amount" placeholder="6.25">
        </div>
        <div class="form-group">
            <label>Fee</label>
            <!--
            <input type="number" class="form-control" ng-model="txTransferData.fee" id="fee" placeholder="4">
            -->
            <div>
                {{(txTransferData.fee | fmtNemValue)[0]}}.{{(txTransferData.fee | fmtNemValue)[1]}}
                <span ng-show="txTransferData.isMultisig">+ {{(txTransferData.innerFee | fmtNemValue)[0]}}.{{(txTransferData.innerFee | fmtNemValue)[1]}}</span>
            </div>
        </div>
        <div class="form-group">
            <label for="due">Due</label>
            <input type="number" class="form-control" ng-model="txTransferData.due" id="due" placeholder="60">
        </div>
        <div class="form-group">
            <label for="message">Message</label>
            <textarea class="form-control" ng-model="txTransferData.message" id="message" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label class="control-label">
                <input type="checkbox" ng-model="txTransferData.encryptMessage" ng-disabled="encryptDisabled" placeholder="">
                Encrypted
            </label>
        </div>
    </form>
</div>
<div class="modal-footer">
    <span ng-show="invalidKeyOrPassword" class="text-danger glyphicon glyphicon-exclamation-sign"></span>
    <button class="btn btn-primary" type="button" ng-disabled="common.requiresKey && common.privatekey.length === 0 && common.password.length === 0" ng-click="ok()">Send</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>