<?xml version="1.0" encoding="utf-8"?>
<jnlp spec="7.0+" codebase="http://bob.nem.ninja" href="$outputFile" version="0.0.1">
  <information>
    <title>NEM Server (NIS)</title>
    <vendor>NEM Community</vendor>
    <homepage href="http://www.ournem.com"/>
    <description>NEM Server</description>
    <offline-allowed/> 
  </information>
  <security>
      <all-permissions/>
  </security>
  <resources>
    <java version="1.8+" java-vm-args="-esa -Xnoclassgc"/>
    <property name="jnlp.versionEnabled" value="true"/>
    $dependencies
</resources>
  <application-desc main-class="$mainClass">
     <argument>1</argument>
   <argument>2</argument>
  </application-desc>
</jnlp> 
