<?xml version="1.0" encoding="utf-8"?>
<jnlp spec="7.0+" codebase="$nem-code-base" href="$outputFile" version="${project.version}">
  <information>
    <title>NEM Server (NIS)</title>
    <vendor>NEM Community</vendor>
    <homepage href="http://www.ournem.com"/>
    <description>NEM Server</description>
    <icon href="images/nis_64x64.ico"/>
    <icon href="images/nis_32x32.ico"/>
  </information>
  <security>
      <all-permissions/>
  </security>
  <update check="always" policy="always"></update>
  <resources>
    <java version="1.8+" java-vm-args="-esa -Xnoclassgc"/>
    $dependencies
</resources>
  <application-desc main-class="$mainClass">
  </application-desc>
</jnlp> 
