.idea
target/
superlog.txt
*~
*.eml
*.pyc
*.db
my.*.sh
*.jar
.DS_Store
/site
nis-*.log*
/dependency-reduced-pom.xml
/nis.temp.settings
/data/
/logs/
*.iml
poiAnalysisData
.ipynb_checkpoints
/kaiseki/*.csv
/node_modules/
nickel/dist/
nickel/build/
node_modules/
.classpath
.project
.settings